name: gatekeeper_test
on: [push, pull_request]

jobs:
  lint:
    name: "Gatekeeper Test"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          path: go/src/github.com/open-policy-agent/frameworks

      - name: Check out Gatekeeper default branch
        uses: actions/checkout@v4
        with:
          repository: open-policy-agent/gatekeeper
          path: go/src/github.com/open-policy-agent/gatekeeper

      - name: Update Frameworks dependency in Gatekeeper
        run: |
          go mod edit -replace github.com/open-policy-agent/frameworks/constraint=${GITHUB_WORKSPACE}/go/src/github.com/open-policy-agent/frameworks/constraint
          go mod tidy
          go mod vendor
        working-directory: go/src/github.com/open-policy-agent/gatekeeper

      - name: Make test
        run: make test
        working-directory: go/src/github.com/open-policy-agent/gatekeeper
