name: gatekeeper_test
on: [push, pull_request]

permissions:
  contents: read

jobs:
  gk-test:
    name: "Gatekeeper Test"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          egress-policy: audit

      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: "1.22"
          check-latest: true

      - name: Check out code into the Go module directory
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          path: go/src/github.com/open-policy-agent/frameworks

      - name: Check out Gatekeeper default branch
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          repository: open-policy-agent/gatekeeper
          path: go/src/github.com/open-policy-agent/gatekeeper

      - name: Update Frameworks dependency in Gatekeeper
        run: |
          go mod edit -replace github.com/open-policy-agent/frameworks/constraint=${GITHUB_WORKSPACE}/go/src/github.com/open-policy-agent/frameworks/constraint
          go mod tidy
          go mod vendor
        working-directory: go/src/github.com/open-policy-agent/gatekeeper

      - name: Make test
        run: make test
        working-directory: go/src/github.com/open-policy-agent/gatekeeper
