name: gatekeeper_test
on: [push, pull_request]

permissions:
  contents: read

jobs:
  gk-test:
    name: "[Informative] Gatekeeper Test"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "1.25"
          check-latest: true

      - name: Check out code into the Go module directory
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: go/src/github.com/open-policy-agent/frameworks

      - name: Check out Gatekeeper default branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: open-policy-agent/gatekeeper
          path: go/src/github.com/open-policy-agent/gatekeeper

      - name: Update Frameworks dependency in Gatekeeper
        run: |
          go mod edit -replace github.com/open-policy-agent/frameworks/constraint=${GITHUB_WORKSPACE}/go/src/github.com/open-policy-agent/frameworks/constraint
          go mod tidy
          go mod vendor
        working-directory: go/src/github.com/open-policy-agent/gatekeeper

      - name: Make test
        run: make native-test
        working-directory: go/src/github.com/open-policy-agent/gatekeeper
