name: test
on: [push, pull_request]

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          path: go/src/github.com/open-policy-agent/frameworks

      - name: Install golangci-lint
        run: |
          mkdir -p $GITHUB_WORKSPACE/bin
          echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
          curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $GITHUB_WORKSPACE/bin v${GOLANGCILINT_VERSION}
        env:
          GOLANGCILINT_VERSION: 1.32.2

      - name: Make lint
        run: |
          make lint
        working-directory: go/src/github.com/open-policy-agent/frameworks/constraint

  test:
    name: "Unit test"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Set up Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          path: go/src/github.com/open-policy-agent/frameworks

      - name: Install tools
        run: |
          curl -L -O "https://github.com/kubernetes-sigs/kubebuilder/releases/download/v${KUBEBUILDER_VERSION}/kubebuilder_${KUBEBUILDER_VERSION}_linux_amd64.tar.gz" &&\
            tar -zxvf kubebuilder_${KUBEBUILDER_VERSION}_linux_amd64.tar.gz &&\
            sudo mv kubebuilder_${KUBEBUILDER_VERSION}_linux_amd64 /usr/local/kubebuilder
        env:
          KUBEBUILDER_VERSION: 2.3.1

      - name: Unit test
        run: |
          export PATH=$PATH:${GOBIN}
          make -C constraint native-test
        working-directory: go/src/github.com/open-policy-agent/frameworks
        env:
          GOPATH: ${{ github.workspace }}/go
          GOBIN: ${{ github.workspace }}/go/bin

      - name: Codecov Upload
        uses: codecov/codecov-action@v1
        with:
          flags: unittests
          file: go/src/github.com/open-policy-agent/frameworks/constraint/cover.out
          fail_ci_if_error: false
