name: test
on: [push, pull_request]

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v3
      # source: https://github.com/golangci/golangci-lint-action
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        # version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
        version: v1.45.2
        working-directory: constraint

  test:
    name: "Unit test"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          path: go/src/github.com/open-policy-agent/frameworks

      - name: Install tools
        run: |
          curl -L -O "https://github.com/kubernetes-sigs/kubebuilder/releases/download/v${KUBEBUILDER_VERSION}/kubebuilder_${KUBEBUILDER_VERSION}_linux_amd64.tar.gz" &&\
            tar -zxvf kubebuilder_${KUBEBUILDER_VERSION}_linux_amd64.tar.gz &&\
            sudo mv kubebuilder_${KUBEBUILDER_VERSION}_linux_amd64 /usr/local/kubebuilder
        env:
          KUBEBUILDER_VERSION: 2.3.1

      - name: Unit test
        run: |
          export PATH=$PATH:${GOBIN}
          make -C constraint native-test
        working-directory: go/src/github.com/open-policy-agent/frameworks
        env:
          GOPATH: ${{ github.workspace }}/go
          GOBIN: ${{ github.workspace }}/go/bin

      - name: Codecov Upload
        uses: codecov/codecov-action@v3
        with:
          flags: unittests
          file: go/src/github.com/open-policy-agent/frameworks/constraint/cover.out
          fail_ci_if_error: false
