name: test
on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    name: "Unit test"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          egress-policy: audit

      - name: Set up Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: "1.22"
          check-latest: true

      - name: Check out code into the Go module directory
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          path: go/src/github.com/open-policy-agent/frameworks

      - name: Unit test
        run: |
          export PATH=$PATH:${GOBIN}
          make -C constraint native-test
        working-directory: go/src/github.com/open-policy-agent/frameworks
        env:
          GOPATH: ${{ github.workspace }}/go
          GOBIN: ${{ github.workspace }}/go/bin

      - name: Codecov Upload
        uses: codecov/codecov-action@5ecb98a3c6b747ed38dc09f787459979aebb39be # v4.3.1
        with:
          flags: unittests
          file: go/src/github.com/open-policy-agent/frameworks/constraint/cover.out
          fail_ci_if_error: false
